[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    graph = log --graph --oneline --decorate
    logv = log -p
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all
    svn-up = !git stash && git svn rebase && git stash pop
    svn-ci = !git stash && git svn dcommit && git stash pop

[push]
    default = simple
[color]
    ui = true
    diff = auto
    status = auto
    branch = auto
[core]
    pager = less -FRSX
    editor = emacs
    excludesfile = .gitignore_global
[commit]
    verbose = true

[include]
    path = ~/.gitconfig.local
